<p>
  <strong>Olá Teilor</strong>
  <br />
  Ag.: 1234 Op.: 13 CC: 2112-8
</p>

<p>
  Poup.: R$
  <span id="poup-label">{{ getSavings.toFixed(2) }}</span>
  <br />
  <input id="input-withdraw" type="text" #withdraw />
  <button id="withdraw-button" (click)="setWithdraw(withdraw.value)">
    Retirar
  </button>
</p>

<p>
  Carteira: R$
  <span id="wallet-label">{{ getWallet.toFixed(2) }}</span>
  <br />
  <input id="input-deposit" type="text" #deposit />
  <button id="deposit-button" (click)="setDeposit(deposit.value)">
    Depositar
  </button>
</p>

<list></list>
